* {
  box-sizing: border-box;
}

/* default body css settings */
body {
  display: 100%;
  background-color: silver;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* NAV BAR_______________________________________________________________ */
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 160px;
  background-color: white;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  width: 100%;
}

/* NAV BAR FOT MOBILE SCREEN */
@media screen and (max-width: 596px) {
  .nav-container {
    text-align: center;
    position: relative;
    height: 100%;
    width: 100%;
  }
}

/* Unordered list to dsiplay flex */
nav ul {
  display: flex;
}
/* Sets the look of the anchors */
nav ul li a {
  flex-wrap: wrap;
  min-width: 30px;
  min-width: auto;
  margin: 20px;
  margin-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #050505;
  font-weight: bold;
}

@media screen and (max-width: 596px) {
  nav ul {
    flex-direction: column;
    width: 100%;
    margin: 0px;
    float: left;
    padding: 0px;
    width: 300px;
    font-size: 20px;
  }
}

@media screen and (max-width: 596px) {
  .active {
    padding: 30px;
    line-height: 100px;
    background-color: #050505;
    color: orange;
    border-radius: 30px;
  }
}

/* Change the anchors to red on hover */
nav ul li a:hover {
  color: red;
}

@media screen and (max-width: 700px) {
  .nav-list {
    position: relative;
    top: 0px;
    margin: 30px;
    text-align: center;
    margin-bottom: 40px;
    justify-content: left;
    align-items: left;
  }
}

/* Logo design */
.logo {
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  font-size: 30px;
  background-color: silver;
  padding: 60px;
  border: #050505;
  border-width: 5px;
  border-radius: 20px;
  width: 320px;
  min-width: 205px;
}

/* logo for mobile screen */
@media screen and (max-width: 596px) {
  .logo {
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}

.active {
  font-weight: bold;
  color: #2d2a2a;
}

header {
  top: 0px;
  width: 100%;
}

/* banner cover image settings-------------------------------------------------------------------- */
.banner {
  flex-wrap: wrap;
  text-align: center;
  color: black;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  text-decoration: none;
  background-image: linear-gradient(
      to top,
      rgba(20, 20, 20, 0.7),
      rgba(133, 133, 133, 0.2)
    ),
    url(../Assets/Images/sabri-tuzcu-wunVFNvqhfE-unsplash.jpg);
  height: 1000px;
  margin-top: 30px;
  object-fit: contain;
}

/* revert linear gradient on hover */
.banner:hover {
  background-image: url(../Assets/Images/sabri-tuzcu-wunVFNvqhfE-unsplash.jpg);
}

/* settings of the header in the banner , positiion is relative to the parent container*/
.banner h1 {
  position: relative;
  top: 100px;
  background-color: white;
  font-family: Helvetica, sans-serif;
  border-radius: 15px;
  height: 100px;
  padding: 10px;
  font-size: 60px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 770px) {
  .banner h1 {
    height: 100px;
    font-size: 30px;
  }
}

.banner div a {
  position: relative;
  top: 250px;
  width: 100px;
  height: 200px;
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  margin: 20px;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
}

/* Button in the banner */
.btn:hover {
  background-color: #050505;
  color: white;
}

/* about me H1 container ----------------------------------------------------------------------------------*/
.aboutmes {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 200px;
  margin-top: 100px;
  font-size: 15px;
  height: 300px;
  justify-content: center;
}

.aboutmes:hover {
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .aboutmes {
    flex-direction: column;
    margin-top: 500px;
    margin-bottom: 500px;
  }
}

.floatleft1 {
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  height: 300px;
  width: 500px;
  border-right: solid #050505 5px;
  text-align: center;
  align-items: center;
  font-size: 30 px;
  color: darkblue;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  margin: 10px;
  left: -60px;
  height: 500px;
}
@media screen and (max-width: 596px) {
  .floatleft1 {
    flex-direction: column;
    border: none;
    margin-top: 400px;
  }
}

.floatleft1 h1 {
  position: relative;
  padding: 30px;
}

.avatar {
  position: relative;
  width: 150px;
  height: 300px;
  float: left;
  background-image: url(./Images/Avatar.png);
  background-position: left;
  background-size: 150px;
  background-repeat: no-repeat;
  object-fit: contain;
  align-items: left;
  left: 0px;
}

/* settings for mobile screen for about me section*/
@media screen and (max-width: 1000px) {
  .floatleft1 {
    flex-direction: column;
    float: none;
    border: none;
    justify-content: center;
    justify-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    height: 700px;
    text-align: center;
  }
}

@media screen and (max-width: 1000px) {
  .floatleft1 h1 {
    display: flex;
    width: fit-content;
    height: fit-content;
    float: right;
    font-size: 40px;
    border: none;
  }
}
/* Section 1 float right paragraph------------ */
.floatright1 {
  flex-direction: row;
  padding: 30px;
  float: right;
  width: 70%;
  justify-content: center;
  align-items: center;
  font: 20px;
}
/* Paragraph text  */
.aboutmep {
  flex-wrap: wrap;
  padding: 2px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  width: 70%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* change in size of text when screen size reduces */
@media screen and (max-width: 596px) {
  .aboutmep {
    font-size: 20px;
    margin: 10px;
    margin-bottom: 200px;
    line-height: 15vw;
    text-align: center;
    text-align: center;
  }
}

/* Section 2My Work section left side ------------------------------------------------------------------------------------------------------------*/

.imageparentcontainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 200px;
  margin-top: 100px;
  font-size: 15px;
  height: 1500px;
  justify-content: center;
  margin-top: 400px;
  margin-bottom: 100px;
}

@media screen and (max-width: 1000px) {
  .imageparentcontainer {
    flex-direction: column;
    margin-top: 700px;
    justify-content: center;
    align-items: center;
  }
}

.floatleft2 {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  height: 1200px;
  width: 400px;
  border-right: solid #050505 5px;
  text-align: center;
  align-items: center;
  font-size: 30px;
  color: darkblue;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  margin: 10px;
  left: 0px;
}

@media screen and (max-width: 1000px) {
  .floatleft2 {
    border-bottom: solid black 5px;
    border-right: none;
    height: 300px;
  }
}

.carddeck {
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px;
  float: right;
  width: 70%;
  justify-content: center;
  align-items: center;
  font: 20px;
  height: 1000px;
}
@media screen and (max-width: 1000px) {
  .carddeck {
    width: 100%;
  }
}

.card0,
.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
  position: relative;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  width: 50%;
  float: right;
}

.card0 {
  position: relative;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  width: 100%;
  float: right;
  object-fit: fill;
  background-image: linear-gradient(
      to top,
      rgba(20, 20, 20, 0.7),
      rgba(133, 133, 133, 0.2)
    ),
    url(../Assets/Images/Refractory\ project.png);
  background-repeat: no-repeat;
  object-fit: fill;
}
.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover,
.card0:hover {
  transform: scale(1.2);
}

.imagetag1 {
  z-index: 3;
  position: relative;
  top: 100px;
  left: 10px;
  background-color: black;
  padding: 30px;
  width: fit-content;
  color: white;
  border-radius: 30px;
}

/* CONTACT ME SECTION-------------------------------------------------------------------------- */
.contactmes {
  display: flex;
  flex-direction: row;

  left: -50px;
  height: 300px;
  margin: 50px;
  width: 100%;
}

@media screen and (max-width: 596px) {
  .contactmes {
    flex-direction: column;
    justify-items: center;
    width: 100%;
    height: 500px;
    left: 100px;
    margin: 0px;
    width: 400px;
  }
}

.floatleft3 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  height: 300px;
  border-right: solid #050505 5px;
  text-align: center;
  align-items: center;
  font-size: 30px;
  color: darkblue;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  margin: 10px;
  width: 400px;
}

@media screen and (max-width: 1200px) {
  .floatleft3 {
    border-right: none;
    border-bottom: solid black 5px;
    height: 300px;
    text-align: center;
  }
}

@media screen and (max-width: 596px) {
  .floatleft3 {
    border-right: none;
    border-bottom: solid black 5px;
    height: 500px;
    text-align: center;
    width: 350px;
  }
}

.floatright3 {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  float: right;
  justify-content: center;
  align-items: center;
  font: 20px;
  left: 600px;
}

.anemail,
.anlink,
.anface,
.antwitter {
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px;
  font-weight: bold;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: fit-content;
  text-decoration: none;
}

.anemail:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

.anlink:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

.anface:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.antwitter:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
